$primary-color-dark: #388E3C;
$primary-color: #4CAF50;
$primary-color-light: #C8E6C9;
$primary-color-text: #FFFFFF;
$accent-color: #ffb61e;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$desktop-padding: 8px 30px;
$button-radius: 63px;
$hover-color: $accent-color + 10;
$button-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
$box-shadow2: 1px 3px 2px 0 rgba(0,0,0,0.2);
$card-color: $accent-color;